<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <title>ciao come stai</title>

    <script src="../../../Library/polymer/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <script src="jquery-1.11.3.min.js"></script>
    <link rel="import" href="../../../Library/polymer/bower_components/paper-button/paper-button.html">


    <link rel="import" href="login-dialog.html">
    <link rel="import" href="article-card.html">

  </head>

  <body class="horizzontal layout">
    <article-card> </article-card>
    <article-card> </article-card>
  </body>

</html>
