<div class="grid-item hero-feature">
	<div class="thumbnail">
		<img class="media-object cardImage" src="{{image}}" alt="">
		<div class="caption">
			<h3>{{title}}</h3>
			<p>{{description}}</p>
			<p>
				<a href="index.php?controller=Article&task=getArticleView&Id={{id}}" class="btn btn-success stretchButton">Leggi!</a>
			</p>
		</div>
	</div>
</div>
